### Import Necessary Library

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#### Read the data set

In [5]:
df =pd.read_csv("Algerian_forest_fires_dataset_UPDATE (6) (1).csv",header=1)
df.head()

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
0,01,06,2012,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,not fire
1,02,06,2012,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,not fire
2,03,06,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire
3,04,06,2012,25,89,13,2.5,28.6,1.3,6.9,0,1.7,0,not fire
4,05,06,2012,27,77,16,0,64.8,3,14.2,1.2,3.9,0.5,not fire

#### Check the columns

In [6]:
df.columns

Index(['day', 'month', 'year', 'Temperature', ' RH', ' Ws', 'Rain ', 'FFMC',
       'DMC', 'DC', 'ISI', 'BUI', 'FWI', 'Classes  '],
      dtype='object')

#### Remove the space from columns

In [9]:
df.columns =df.columns.str.strip()

In [10]:
df.columns

Index(['day', 'month', 'year', 'Temperature', 'RH', 'Ws', 'Rain', 'FFMC',
       'DMC', 'DC', 'ISI', 'BUI', 'FWI', 'Classes'],
      dtype='object')

In [11]:
df.dtypes

day            object
month          object
year           object
Temperature    object
RH             object
Ws             object
Rain           object
FFMC           object
DMC            object
DC             object
ISI            object
BUI            object
FWI            object
Classes        object
dtype: object

In [12]:
df.head()

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
0,01,06,2012,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,not fire
1,02,06,2012,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,not fire
2,03,06,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire
3,04,06,2012,25,89,13,2.5,28.6,1.3,6.9,0,1.7,0,not fire
4,05,06,2012,27,77,16,0,64.8,3,14.2,1.2,3.9,0.5,not fire

In [17]:
df.dtypes

day            object
month          object
year           object
Temperature    object
RH             object
Ws             object
Rain           object
FFMC           object
DMC            object
DC             object
ISI            object
BUI            object
FWI            object
Classes        object
dtype: object

Deal with object columns which is actully numerical

In [20]:
df["Temperature"] =pd.to_numeric(df["Temperature"],errors="coerce")
df["RH"] =pd.to_numeric(df["RH"],errors="coerce")
df["Ws"] =pd.to_numeric(df["Ws"],errors="coerce")
df["Rain"] =pd.to_numeric(df["Rain"],errors="coerce")
df["FFMC"] =pd.to_numeric(df["FFMC"],errors="coerce")
df["DMC"] =pd.to_numeric(df["DMC"],errors="coerce")
df["DC"] =pd.to_numeric(df["DC"],errors="coerce")
df["ISI"] =pd.to_numeric(df["ISI"],errors="coerce")
df["BUI"] =pd.to_numeric(df["BUI"],errors="coerce")
df["FWI"] =pd.to_numeric(df["FWI"],errors="coerce")

In [21]:
df.dtypes

day             object
month           object
year            object
Temperature    float64
RH             float64
Ws             float64
Rain           float64
FFMC           float64
DMC            float64
DC             float64
ISI            float64
BUI            float64
FWI            float64
Classes         object
dtype: object

Drop unnecesary columns

In [22]:
df.drop(["day","month","year"],axis=1,inplace=True)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246 entries, 0 to 245
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Temperature  244 non-null    float64
 1   RH           244 non-null    float64
 2   Ws           244 non-null    float64
 3   Rain         244 non-null    float64
 4   FFMC         244 non-null    float64
 5   DMC          244 non-null    float64
 6   DC           243 non-null    float64
 7   ISI          244 non-null    float64
 8   BUI          244 non-null    float64
 9   FWI          243 non-null    float64
 10  Classes      244 non-null    object
dtypes: float64(10), object(1)
memory usage: 21.3+ KB

Check null Values

In [24]:
df.isnull().sum()

Temperature    2
RH             2
Ws             2
Rain           2
FFMC           2
DMC            2
DC             3
ISI            2
BUI            2
FWI            3
Classes        2
dtype: int64

In [26]:
df.dropna(inplace=True)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 243 entries, 0 to 245
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Temperature  243 non-null    float64
 1   RH           243 non-null    float64
 2   Ws           243 non-null    float64
 3   Rain         243 non-null    float64
 4   FFMC         243 non-null    float64
 5   DMC          243 non-null    float64
 6   DC           243 non-null    float64
 7   ISI          243 non-null    float64
 8   BUI          243 non-null    float64
 9   FWI          243 non-null    float64
 10  Classes      243 non-null    object
dtypes: float64(10), object(1)
memory usage: 22.8+ KB

check duplicate values

In [28]:
df.duplicated().sum()

0

Data Encoding

In [30]:
from sklearn.preprocessing import LabelEncoder
label =LabelEncoder()
label

LabelEncoder()

In [34]:
df["Classes"]= label.fit_transform(df.Classes)

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 243 entries, 0 to 245
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Temperature  243 non-null    float64
 1   RH           243 non-null    float64
 2   Ws           243 non-null    float64
 3   Rain         243 non-null    float64
 4   FFMC         243 non-null    float64
 5   DMC          243 non-null    float64
 6   DC           243 non-null    float64
 7   ISI          243 non-null    float64
 8   BUI          243 non-null    float64
 9   FWI          243 non-null    float64
 10  Classes      243 non-null    int32
dtypes: float64(10), int32(1)
memory usage: 21.8 KB

In [37]:
df.drop(["Classes"],axis=1,inplace=True)

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 243 entries, 0 to 245
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Temperature  243 non-null    float64
 1   RH           243 non-null    float64
 2   Ws           243 non-null    float64
 3   Rain         243 non-null    float64
 4   FFMC         243 non-null    float64
 5   DMC          243 non-null    float64
 6   DC           243 non-null    float64
 7   ISI          243 non-null    float64
 8   BUI          243 non-null    float64
 9   FWI          243 non-null    float64
dtypes: float64(10)
memory usage: 20.9 KB

Seprate X & y Variable

In [44]:
X =df.drop("Temperature",axis=1)
y= df["Temperature"]

In [45]:
X

       RH    Ws  Rain  FFMC   DMC    DC  ISI   BUI  FWI
0    57.0  18.0   0.0  65.7   3.4   7.6  1.3   3.4  0.5
1    61.0  13.0   1.3  64.4   4.1   7.6  1.0   3.9  0.4
2    82.0  22.0  13.1  47.1   2.5   7.1  0.3   2.7  0.1
3    89.0  13.0   2.5  28.6   1.3   6.9  0.0   1.7  0.0
4    77.0  16.0   0.0  64.8   3.0  14.2  1.2   3.9  0.5
..    ...   ...   ...   ...   ...   ...  ...   ...  ...
241  65.0  14.0   0.0  85.4  16.0  44.5  4.5  16.9  6.5
242  87.0  15.0   4.4  41.1   6.5   8.0  0.1   6.2  0.0
243  87.0  29.0   0.5  45.9   3.5   7.9  0.4   3.4  0.2
244  54.0  18.0   0.1  79.7   4.3  15.2  1.7   5.1  0.7
245  64.0  15.0   0.2  67.3   3.8  16.5  1.2   4.8  0.5

[243 rows x 9 columns]

In [46]:
y

0      29.0
1      29.0
2      26.0
3      25.0
4      27.0
       ...
241    30.0
242    28.0
243    27.0
244    24.0
245    24.0
Name: Temperature, Length: 243, dtype: float64

Train test split

In [47]:
from sklearn.model_selection import train_test_split
X_train ,X_test ,y_train,y_test = train_test_split(X,y,test_size=0.28,random_state=1)

In [49]:
X_train.shape ,X_test.shape ,y_train.shape,y_test.shape

((174, 9), (69, 9), (174,), (69,))

Scale data if required

In [50]:
from sklearn.preprocessing import StandardScaler
scaler =StandardScaler()
scaler

StandardScaler()

In [51]:
X_train =scaler.fit_transform(X_train)
X_test =scaler.transform(X_test)

Train model

In [56]:
from sklearn.linear_model import LinearRegression
model =LinearRegression()
model.fit(X_train ,y_train)
print("======================================================")
print(model.coef_)
print("======================================================")
print(model.intercept_)

======================================================
[-1.30885533 -0.65483674  0.03427653  1.17636224 -0.7645774   0.25084285
 -0.22950086  0.53738945  0.6558265 ]
======================================================
32.166666666666664

Prediction on data

In [57]:
y_pred =model.predict(X_test)
y_pred

array([32.14732269, 30.87999003, 36.71299802, 30.09192895, 35.8818357 ,
       32.03452463, 32.78659487, 36.35241245, 33.38801444, 29.25558868,
       32.44035293, 33.38051003, 26.37801234, 31.93454854, 33.32395508,
       23.56547314, 33.61421927, 29.69351475, 34.58920832, 26.54340265,
       30.32504683, 32.68152243, 26.01711347, 33.02217942, 33.3014874 ,
       33.93156289, 27.38739727, 33.39846942, 30.56042586, 33.03902059,
       31.20316133, 27.88398799, 33.18822989, 32.53002661, 34.73152056,
       35.70492099, 30.73366648, 27.93599502, 32.48778548, 33.80388783,
       33.35508939, 28.67046321, 26.87795474, 33.08558416, 30.22746085,
       31.42554064, 33.14269936, 30.28316125, 35.06949832, 30.56439974,
       32.70352639, 34.53046394, 33.99804358, 31.90875235, 35.46921654,
       36.2608754 , 35.90784073, 34.3914793 , 25.88802008, 33.85763075,
       33.79478562, 32.06169862, 32.3142438 , 34.18844028, 32.56719002,
       37.00045395, 31.1441152 , 36.63877135, 35.25173114])

Performance matric

In [60]:
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score

mse =mean_squared_error(y_test ,y_pred)
mse

8.247645762520175

In [61]:
mae =mean_absolute_error(y_test ,y_pred)
mae

2.3538975172720082

In [62]:
r2_score(y_test ,y_pred)

0.47456188145160627

Pickle the model

In [66]:
import pickle
pickle.dump(model,open("regressor.pkl","wb"))
model = pickle.load(open("regressor.pkl","rb"))

In [67]:
model.predict(X_test)

array([32.14732269, 30.87999003, 36.71299802, 30.09192895, 35.8818357 ,
       32.03452463, 32.78659487, 36.35241245, 33.38801444, 29.25558868,
       32.44035293, 33.38051003, 26.37801234, 31.93454854, 33.32395508,
       23.56547314, 33.61421927, 29.69351475, 34.58920832, 26.54340265,
       30.32504683, 32.68152243, 26.01711347, 33.02217942, 33.3014874 ,
       33.93156289, 27.38739727, 33.39846942, 30.56042586, 33.03902059,
       31.20316133, 27.88398799, 33.18822989, 32.53002661, 34.73152056,
       35.70492099, 30.73366648, 27.93599502, 32.48778548, 33.80388783,
       33.35508939, 28.67046321, 26.87795474, 33.08558416, 30.22746085,
       31.42554064, 33.14269936, 30.28316125, 35.06949832, 30.56439974,
       32.70352639, 34.53046394, 33.99804358, 31.90875235, 35.46921654,
       36.2608754 , 35.90784073, 34.3914793 , 25.88802008, 33.85763075,
       33.79478562, 32.06169862, 32.3142438 , 34.18844028, 32.56719002,
       37.00045395, 31.1441152 , 36.63877135, 35.25173114])